.right-layout {
    margin-left: 200px;
}

nz-content {
    @apply mx-5;
}

nz-header {
    background: #edf2f4;
    padding: 0;
}

.ant-divider-horizontal {
    margin: 5px 0px !important;
}

::ng-deep .ant-table-pagination.ant-pagination {
    margin: 2px !important;
}